<h1><%= @user.email %></h1>
<p>THIS IS MY PROFILE! THERE ARE MANY PROFILES LIKE IT BUT THIS ONE IS MINE</p>

<p>These are the bookings I have made! :)</p>
<% @user_bookings.each do |booking| %>
  <%= link_to booking.cut, booking_path(booking) %>
<% end %>
